.doucet .site-branding {
	padding: 30px 0;
    display: block;
    text-align: center;
    vertical-align: middle;
}

.doucet .site-branding {
    background-color: #F2F2F3;
}
.mobile-navigation {
	padding:20px 0 15px;
	z-index:15;
	width: 250px;
	left:0;
	top:0;
	bottom:0;
	position:fixed;
	overflow:auto;
	display:block;
	background-color:#222;
	opacity:1;
	filter:alpha(opacity=0);
	pointer-events:none;
	transition:transform .45s ease, opacity .2s linear;
	-webkit-transition:-webkit-transform .45s ease, opacity .2s linear;
	-moz-transition:-moz-transform .45s ease, opacity .2s linear;
	-ms-transition:-ms-transform .45s ease, opacity .2s linear;
	transform:translate3d(-250px, 0, 0);
	-webkit-transform:translate3d(-250px, 0, 0);
	-moz-transform:translate3d(-250px, 0, 0);
	-ms-transform:translate3d(-250px, 0, 0)
}

.active-mobile-menu .mobile-navigation {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
	width: 250px;
    opacity: 1;
    filter: alpha(opacity=100);
    pointer-events: initial;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

@media screen and (max-width: 640px) {
	.site-banner .site-title h1 {
		font-size: 24px;
	}
	.site-branding .container {
		padding-left: 35px;
	}
}